* {
  padding: 0px;
  margin: 0px;
}

.nav-bar {
  /* background-color: #7bdbbb; */
  background-color: rgb(73, 71, 71);
  padding: 1% 7%;
  text-align: center;
}

.nav-bar a {
  text-decoration: none;
  /* color: rgb(0, 0, 0); */
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 45px;
}

.nav-bar a:hover {
  background-color: black;
  color: aqua;
}

.dropdown {
  display: inline;
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 30px;
  right: 0px;
  /* background-color: #7bdbbb; */
  background-color: rgb(73, 71, 71);
  text-align: left;
  min-width: 100px;
  display: none;
}

.dropdown-content a {
  display: block;
}

/* .dropdown:hover .dropdown-content {
     display: block; 
  } */

.dropdown-content a:hover {
  /* background-color: rgb(4, 185, 125); */
  background-color: black;
}

.dropdown2 {
  display: inline;
  position: relative;
}

.dropdown-content2 {
  position: absolute;
  top: 30px;
  right: 0px;
  background-color: rgb(73, 71, 71);
  text-align: left;
  min-width: 100px;
  display: none;
}

.dropdown-content2 a {
  display: block;
}

/* .dropdown2:hover .dropdown-content2 {
    display: block;
  } */

.dropdown-content2 a:hover {
  background-color: black;
}

.dropdown3 {
  display: inline;
  position: relative;
}

.dropdown-content3 {
  position: absolute;
  top: 30px;
  right: 0px;
  background-color: rgb(73, 71, 71);
  text-align: left;
  min-width: 100px;
  display: none;
}

.dropdown-content3 a {
  display: block;
}

/* .dropdown3:hover .dropdown-content3 {
    display: block;
  } */

.dropdown-content3 a:hover {
  background-color: black;
}

.dropdown4 {
  display: inline;
  position: relative;
}

.dropdown-content4 {
  position: absolute;
  top: 30px;
  right: 0px;
  background-color: rgb(73, 71, 71);
  text-align: left;
  min-width: 100px;
  display: none;
}

.dropdown-content4 a {
  display: block;
}

/* .dropdown3:hover .dropdown-content3 {
    display: block;
  } */

.dropdown-content4 a:hover {
  background-color: black;
}

.message {
  height: 50vh;
  width: 50vw;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-align: center;
}

.container {
  background-image: url("../Image/AdminDashboard.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  position: relative;
  /* background-color: blueviolet; */
}
