* {
  padding: 0px;
  margin: 0px;
}

.container {
  /* background-image: url("img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  padding: 0px;
  margin: auto;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: #0e5e4f;
  overflow: auto;
}

.innerbox {
  height: 82vh;
  width: 40vw;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  overflow: auto;
}

.message {
  height: 3vh;
  width: 20vw;
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0e5e4f;
  text-align: center;
  color: aliceblue;
}

input[type="file"] {
  border: 2px solid black;
  border-radius: 0px;
  outline: none;
  font-size: 11px;
  width: 35%;
  margin: 2px;
  padding: 3px;
  text-align: center;
  background-color: #0068d7a8;
}

input[type="date"] {
  border: 2px solid black;
  border-radius: 0px;
  outline: none;
  font-size: 11px;
  width: 35%;
  margin: 2px;
  padding: 3px;
  text-align: center;
  background-color: #0068d7a8;
}

/* input[type="submit"] {
  border: 2px solid black;
  border-radius: 20px;
  outline: none;
  font-size: 11px;
  width: 15%;
  margin: 2px;
  padding: 3px;
  text-align: center;
  background-color: #0068d7a8;
} */

input[type="text"] {
  border: 2px solid black;
  border-radius: 0px;
  outline: none;
  font-size: 11px;
  width: 35%;
  margin: 2px;
  padding: 3px;
  text-align: center;
  background-color: #0068d7a8;
}

input[type="password"] {
  border: 2px solid black;
  border-radius: 0px;
  outline: none;
  font-size: 11px;
  width: 35%;
  margin: 2px;
  padding: 3px;
  text-align: center;
  background-color: #0068d7a8;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 14px;
}

.bottombox {
  width: 13vw;
  height: 6vh;
  align-items: center;
  justify-content: center;
  display: inline;
}

img {
  height: 88px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #1b0101;
}

.nav-bar {
  /* background-color: #7bdbbb; */
  background-color: rgb(158, 193, 78);
  padding: 1% 7%;
  text-align: center;
}

.nav-bar a {
  text-decoration: none;
  /* color: rgb(0, 0, 0); */
  color: #000;
  font-size: 1.2rem;
  padding: 10px 20px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: 1; /* Firefox */
  font-size: 12px;
}

.button1,
.button2,
.button3 {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.btn1 {
  border: 2px solid black;
  border-radius: 20px;
  outline: none;
  font-size: 11px;
  width: 26%;
  padding: 6px;
  text-align: center;
  background-color: #0068d7a8;
  /* margin-right: 10px; */
  margin: 3px;
}

.btn2 {
  border: 2px solid black;
  border-radius: 20px;
  outline: none;
  font-size: 11px;
  width: 34%;
  padding: 6px;
  text-align: center;
  background-color: #0068d7a8;
  margin-left: 10px;
}

#find {
  border: 2px solid black;
  border-radius: 20px;
  outline: none;
  font-size: 11px;
  width: 15%;
  margin: 2px;
  padding: 5px;
  text-align: center;
  background-color: #0068d7a8;
}

.nav-bar {
  /* background-color: #7bdbbb; */
  background-color: rgb(158, 193, 78);
  padding: 1% 7%;
  text-align: center;
}

.nav-bar a {
  text-decoration: none;
  /* color: rgb(0, 0, 0); */
  color: #000;
  font-size: 1.2rem;
  padding: 10px 20px;
}
