* {
  padding: 0px;
  margin: 0px;
}

.container {
  /* background-image: url("img1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  padding: 0px;
  margin: auto;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: #0e5e4f;
  display: flex;
}

.innerbox {
  height: 70vh;
  width: 35vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
}

.message {
  height: 3vh;
  width: 20vw;
  position: absolute;
  top: -3%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0e5e4f;
  text-align: center;
  color: aliceblue;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

input[type="text"] {
  border: 2px solid black;
  border-radius: 6px;
  outline: none;
  font-size: 11px;
  width: 40%;
  margin: 2px;
  padding: 3px;
  text-align: center;
  background-color: #0068d7a8;
}

.bottombox1 {
  background-color: rgb(255, 255, 255);
  height: 30vh;
  width: 25vw;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  text-align: center;
}

.btn1 {
  border: 2px solid black;
  border-radius: 20px;
  outline: none;
  font-size: 11px;
  width: 40%;
  padding: 6px;
  text-align: center;
  background-color: #0068d7a8;
  margin-right: 10px;
}

.btn2 {
  border: 2px solid black;
  border-radius: 20px;
  outline: none;
  font-size: 11px;
  width: 40%;
  padding: 6px;
  text-align: center;
  background-color: #0068d7a8;
  margin-left: 10px;
}

.button2,
.button3 {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.nav-bar {
  /* background-color: #7bdbbb; */
  background-color: rgb(158, 193, 78);
  padding: 1% 7%;
  text-align: center;
  height: 5vh;
  width: 100vw;
}

.nav-bar a {
  text-decoration: none;
  /* color: rgb(0, 0, 0); */
  color: #000;
  font-size: 1.2rem;
  padding: 10px 20px;
}
