* {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Times New Roman;
  padding: 10px;
  background-color: rgb(139, 110, 139);
  margin: 72px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
#nav-menu {
  width: 500px;
  height: 80px;
  margin: 0 auto;
}
.navbar {
  background-color: rgb(44, 11, 54);
  padding: 1% 7%;
  text-align: center;
  margin: 0 auto;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 13px 28px;
  cursor: pointer;
}
.navbar a:hover {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(180, 30, 117);
}
.dropdown-container {
  display: inline;
  position: relative;
}
.dropdown-container a:hover {
  display: inline;
  position: relative;
  background-color: rgb(180, 30, 117);
}
.dropdown-content {
  position: absolute;
  top: 30px;
  right: 0px;
  background-color: rgb(59, 7, 37);
  text-align: left;
  min-width: 100px;
  display: none;
}
.dropdown-content a {
  display: block;
}
.dropdown-content a:hover {
  display: block;
  background-color: rgb(180, 30, 117);
}
.dropdown-container:hover .dropdown-content {
  display: block;
}
input {
  width: 40%;
  text-align: center;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 40px;
  box-sizing: border-box;
}

/* Header/Blog Title */
.header {
  text-align: center;
  top: 0;
  padding: 35px;
}

.header h1 {
  font-size: 30px;
  text-align: center;
}
.header h2 {
  font-size: 30px;
  text-align: center;
  top: 0;
}

div.sticky {
  position: sticky;
  top: 0;
  padding: 0;
  border: 2px solid #553988;
}
.container {
  background-color: #553988;
  height: 100vh;
  width: 100vw;
  position: relative;
  margin: 72px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  /* background-color: blueviolet; */
}
.innerbox {
  height: 50vh;
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#panel,
#flip {
  padding: 10px;
  text-align: center;
  background-color: rgb(59, 7, 37);
}
#panel {
  padding: 50px;
  display: none;
}

div.fixed {
  position: fixed;
  top: 0;
  width: 300px;
}
